.navbar-manager{
    margin: auto;
    display: inline-block;
    width: 95vw;
    border-radius: 7px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px grey;
    background: white;
    padding: 5px;
    margin: 10px;
}
